DOMAIN_NAME=gchauvet.42.fr
SITE_TITLE=42-inception
MYSQL_DATABASE=wordpress
MYSQL_USER=mysql_gchauvet
MYSQL_PASSWORD=pass
MYSQL_ROOT_PASSWORD=pass_root\
ADMIN_USER=staff
ADMIN_PASS=staff_pass
ADMIN_MAIL=gchauvet@student.42lyon.fr
WP_USER=gchauvet
WP_USER_PASS=wp_pass
